<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="~/images/jaikere.PNG" type="image/x-icon">
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <div class="logo">Lorem ipsum</div>
        <div class="portrait-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="@Url.Action("Index", "Home")" class="@((string?)ViewData["Page"] == "Home" ? "active" : "")">Home</a></li>
                <li><a href="@Url.Action("About", "Home")" class="@((string?)ViewData["Page"] == "About" ? "active" : "")">About</a></li>
                <li><a href="@Url.Action("Account", "Account")" class="@((string?)ViewData["Page"] == "Account" ? "active" : "")">Account</a></li>
                <li>
                    <a href="javascript:get_notification()" class="notifications" id="notifications">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        <div class="notif-container">
            <h2 class="notif-header">Notifications</h2>
            <div class="notif-list">
                @* Notif Template *@
                <div class="notif-item">
                    <h3 class="notif-item-header">Notifications Header</h3>
                    <p class="notif-text">Notifications Body</p>
                </div>
                @* Notif Template *@
            </div>
        </div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>