<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="~/images/bitnut_tab_icon.png" type="image/x-icon">
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <div class="topleft-header" onclick="window.location.href = '@Url.Action("Index","Home")'">
            <img src="/images/bitnut_icon.png" alt="icon">
            <div class="logo">BitNut</div>
        </div>
        <div class="portrait-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="@Url.Action("Index", "Home")" class="@((string?)ViewData["Page"] == "Home" ? "active" : "")">Home</a></li>
                <li><a href="@Url.Action("About", "Home")" class="@((string?)ViewData["Page"] == "About" ? "active" : "")">About</a></li>
                <li><a href="@Url.Action("Account", "Account")" class="@((string?)ViewData["Page"] == "Account" ? "active" : "")">Account</a></li>
                <li>
                    <a href="javascript:get_notification()" class="notifications" id="notifications">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
                        </svg>
                        <div class="red-dot" id="red-dot" hidden></div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        <div class="notif-container">
            <h2 class="notif-header">Notifications</h2>
            <div class="notif-list" id="notif-list">
                @* Notif Template *@
                <div class="notif-item">
                    <img src="~/images/jaikere.PNG" alt="notif-img" class="notif-img">
                    <div class="notif-text-container">
                        <h3 class="notif-text-header">Please sign in</h3>
                        <p class="notif-text">to see notifications</p>
                    </div>
                </div>
                @* Notif Template *@
            </div>
        </div>
        <main role="main">
            @RenderBody()
        </main>
        <div id="snackbar"></div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let message = "@TempData["snackbar-message"]";
            let type = "@TempData["snackbar-type"]";
            if (message != "" && type != "") {
                show_snackbar(message, type);
            }
        });

        const notif_list = document.getElementById("notif-list");
        notif_list.addEventListener("click", (event) => {
            let notification = event.target.closest(".notif-item");
            if (notification != null) {
                let announcement_id = notification.dataset.announcementid
                if (announcement_id == "null") {
                    window.open(`@Url.Action("Post","Post")?id=${notification.dataset.postid}`, "_blank");
                    return
                }
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        let response = JSON.parse(xhttp.response);
                        if (response.read_successfully == true) {
                            notification.dataset.announcementid = null;
                            const red_dot = notification.querySelector(".red-dot");
                            notification.removeChild(red_dot);
                            unread_notification--;
                            update_notification_red_dot();
                            window.open(`@Url.Action("Post","Post")?id=${notification.dataset.postid}`, "_blank");
                        }
                    }
                };
                xhttp.open("GET", `@Url.Action("AckAnnouncement","Announcement")?announcementid=${announcement_id}`, true);
                xhttp.send();
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>