@{
    ViewData["Title"] = "AnnounceResult page";
    ViewData["Page"] = "AnnounceResult page";
}

@model Post

@section Styles {
    <link rel="stylesheet" href="~/css/result_announce.css" asp-append-version="true" />
}

<h1>Announcing result form post : @Model.Title</h1>
<form method="post" action="@Url.Action("PostResultAnnouncement","Announcement", new { postid = @Model.Id })">
    <p>Your message for those you have selected:</p>
    <input type="hidden" name="announce_selected.Type" value="@AnnouncementType.Selection">
    <textarea name="announce_selected.Message" rows="10" cols="50" required></textarea>
    <p>Your message for those you didn't select:</p>
    <input type="hidden" name="announce_rejected.Type" value="@AnnouncementType.Rejection">
    <textarea name="announce_rejected.Message" rows="10" cols="50" required></textarea><br>
    <button type="submit">confirm</button>
</form>