@{
    ViewData["Title"] = "Account";
    ViewData["Page"] = "Account";
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
}
<section>
    <div class="account-header">
        <img class="account-pfp"
            src="@((ViewBag.Account.ProfilePicture != null) ? ViewBag.Account.ProfilePicture : "https://upload.wikimedia.org/wikipedia/en/a/a4/Hide_the_Pain_Harold_%28Andr%C3%A1s_Arat%C3%B3%29.jpg")"
            alt="account-pfp"
            id="account-pfp">
        <div class="account-info">
            <div class="account-info-header">
                <h2>@ViewBag.Account.Username</h2>
                <div class="lg-account-button">
                    <button type="button" class="edit-account-button" id="edit-account-button">Edit Profile</button>
                    <form method="get" action="@Url.Action("Logout","Account")" id="logout-form" hidden></form>
                    <button type="submit" form="logout-form" class="logout-button" id="logout-button">Log out</button>
                </div>
            </div>
            <p id="account-bio">@ViewBag.Account.Bio</p>
        </div>
        <div class="sm-account-button">
            <button type="button" class="edit-account-button" id="edit-account-button">Edit Profile</button>
            <form method="get" action="@Url.Action("Logout","Account")" id="logout-form" hidden></form>
            <button type="submit" form="logout-form" class="logout-button" id="logout-button">Log out</button>
        </div>
    </div>
    <div class="modal" id="modal">
        <div class="modal-content">
            <h2 class="edit-account">Edit profile</h2>
            <form method="post" action="@Url.Action("Account","Account")" class="edit-account-form" id="edit-account-form">
                <div>
                    <div class="pfp-preview" id="pfp-preview"></div>
                    <label class="profile-picture">Image: <input type="url" id="input-pfp" name="ProfilePicture" value="@ViewBag.Account.ProfilePicture" placeholder="https://example.com/image.jpg"></label>
                </div>
                <div>
                    <label class="account-name">Username: <input type="text" name="Username" value="@ViewBag.Account.Username"></label>
                    <label class="bio">Bio:<br><textarea name="Bio" rows="4" cols="40">@ViewBag.Account.Bio</textarea></label>
                    <label class="account-password">Password: <input type="password" name="Password" value="@ViewBag.Account.Password"></label>
                </div>
            </form>
            <div class="edit-profile-interaction-button">
                <button type="submit" form="edit-account-form" class="confirm-edit-account" id="confirm-edit-account">Confirm</button>
                <button type="button" class="cancel-edit-account" id="cancel-edit-account">Cancel</button>
            </div>
        </div>
    </div>
</section>
<div class="all-lists-container">
    <div class="col">
        <h1>My Post(s)</h1>
        <div class="post-list" id="my-post-list">
            @*post template*@
            @* <div class="post-card">
                <img class="post-img"
                src="https://images.contentstack.io/v3/assets/bltcedd8dbd5891265b/bltfc207f0f782976b1/6670821ec00ba0921486e3d2/backyard-party-hero-1.jpg"
                alt="post-img">
                <div class="post-info">
                    <h2>Post Title</h2>
                    <p>Post Descriptions</p>
                </div>
                <p class="joined_number">9/11</p>
                <button type="button" class="post-redirect">See Details</button>
            </div> *@
            @*post template*@
        </div>
    </div>
    <div class="col">
        <h1>Activities Joined</h1>
        <div class="post-list" id="joined-post-list">
            @* <div class="post-card">
                <img class="post-img"
                src="https://www.trip-attractive.com/wp-content/uploads/2019/12/gun-thum.jpg"
                alt="post-img">
                <div class="post-info">
                    <h2>Post Title</h2>
                    <p>Post Descriptions</p>
                </div>
                <p class="joined_number">9/11</p>
                <button type="button" class="post-redirect">See Details</button>
            </div> *@
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const profile_edit_popup = document.getElementById("modal");
        const image_input = document.getElementById('input-pfp');
        const image_preview = document.getElementById('pfp-preview');

        profile_edit_popup.addEventListener("click", (event) => {
            if (!event.target.closest(".modal-content")) {
                profile_edit_popup.style.display = "none";
            }
        });

        function get_acceptance_status_text(post, user_id) {
            switch (post.status) {
                case 1:
                    return "Pending...";
                case 3:
                    return post.selectedAccounts.some(account => account.id === user_id) ? "Accepted" : "Rejected";
                default:
                    return "Pending...";
            }
        }

        function add_my_posts(post_list){
            post_container = document.getElementById("my-post-list");
            post_list.forEach(post => {
                let post_card = document.createElement("div");
                post_card.className = "post-card";
                post_card.innerHTML =   `<img class="post-img"
                                        src=${post.picture}
                                        alt="post-img">
                                        <div class="post-info">
                                            <h2>${post.title}</h2>
                                            <p>${post.description}</p>
                                        </div>
                                        <p class="joined_number">${post.enrolledCount}/${post.amountAccept}</p>
                                        <button type="button" class="post-redirect" id="post-redirect-${post.id}">See Details</button>`
                post_container.appendChild(post_card);
                const post_redirect_button = document.getElementById(`post-redirect-${post.id}`);
                post_redirect_button.addEventListener("click",()=>{
                    window.open(`@Url.Action("Post", "Post")?id=${post.id}`, "_blank")
                });
            });
        }

        @* Yes, I know I can merge the two functions somehow and add something to the enrolled posts later to make it different,
           but I want to sleep. 9/2/2568, 2:17 AM *@
        @* Tag JustSomeShit if you have any suggestions *@
        function add_enrolled_posts(post_list){
            post_container = document.getElementById("joined-post-list");
            post_list.forEach(post => {
                let post_card = document.createElement("div");
                let acceptance_status = get_acceptance_status_text(post, @ViewBag.Account.Id);
                post_card.className = "post-card";
                post_card.innerHTML =   `<img class="post-img"
                                        src=${post.picture}
                                        alt="post-img">
                                        <div class="post-info">
                                            <h2>${post.title}</h2>
                                            <p>${post.description}</p>
                                        </div>
                                        <p class="joined_number">${post.enrolledCount}/${post.amountAccept}</p>
                                        <p class="acceptance-status">${acceptance_status}</p>
                                        <button type="button" class="post-redirect" id="post-redirect-${post.id}">See Details</button>`
                
                switch (acceptance_status) {
                    case "Accepted":
                        post_card.style.backgroundColor = "rgba(0, 150, 0, 0.4)"; //light green
                        break;
                    case "Rejected":
                        post_card.style.backgroundColor = "rgba(180, 6, 6, 0.4)"; //light red
                        break;
                    default:
                        break;
                }

                post_container.appendChild(post_card);
                const post_redirect_button = document.getElementById(`post-redirect-${post.id}`);
                post_redirect_button.addEventListener("click",()=>{
                    window.open(`@Url.Action("Post", "Post")?id=${post.id}`, "_blank")
                });
            })
        }

        function get_account_posts(){
            fetch("@Url.Action("GetAccountPosts", "Account")")
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error(response.status);
                }
            })
            .then(data => {
                console.log("Parsed JSON data:", data);
                add_my_posts(data.createdPosts);
                add_enrolled_posts(data.enrolledPosts);
            })
            .catch(error => {
                console.error("Error fetching posts:", error);
            });
        }
        
        function account_bio() {
            const bio_box = document.getElementById("account-bio");
            let bio = "@ViewBag.Account.Bio";
            if (bio == "") {
                bio = "No Bio";
            }
            bio_box.innerHTML = bio;
        }

        const edit_account_buttons = document.getElementsByClassName("edit-account-button");
        const cancel_edit_account_button = document.getElementById("cancel-edit-account");
        const confirm_edit_account_button = document.getElementById("confirm-edit-account");
        const popup = document.getElementById("modal");

        for (let i = 0; i < edit_account_buttons.length; i++) {
            edit_account_buttons[i].addEventListener("click", () => {
                popup.style.display = "block";
            });
        }

        cancel_edit_account_button.addEventListener("click",()=>{
            popup.style.display = "none";
        })
        confirm_edit_account_button.addEventListener("click",()=>{

        })

        function preview_image() {
            const image_url = image_input.value;
            if (image_url) {
                const img = document.createElement('img');
                img.className = 'edit-account-pfp';
                img.src = image_url;
                img.alt = 'profile picture';
                img.onload = () => {
                    image_preview.innerHTML = '';
                    image_preview.appendChild(img);
                };
                img.onerror = () => {
                    image_preview.innerHTML = '<img class="edit-account-pfp" src="/images/no_pfp.png" alt="profile picture">';
                };
            } else {
                image_preview.innerHTML = '<img class="edit-account-pfp" src="/images/no_pfp.png" alt="profile picture">';
            }
        }

        get_account_posts();
        account_bio();
        console.log("shit", "@ViewBag.Account.ProfilePicture");
        preview_image();      
        image_input.addEventListener('input', preview_image);
    </script>
}