@{
    ViewData["Title"] = "Post page";
    ViewData["Page"] = "Post";
}

@model (List<Tag>, Post, bool, bool)

@section Styles {
    <link rel="stylesheet" href="~/css/post_details.css" asp-append-version="true" />
}

<div class="modal" id="modal">
    <div class="modal-content">
        <h2 class="edit-post-header">Edit post</h2>
        <form method="post" action="@Url.Action("Post","Post")" class="edit-post-form" id="edit-post-form">
            <div>
                <div id="edit-post-display" class="edit-post-display"></div>
                <label class="edit-post-image">Image: <input id="image-url" type="url" name="Picture" value="@Model.Item2.Picture" placeholder="https://example.com/image.jpg"></label>
                <label class="edit-post-tags">
                    @foreach (var Tag in Model.Item1)
                    {
                        <label class="checkbox-container"><input class="checkbox" type="checkbox" name="Tags" value="@Tag.Id" @(Model.Item2.Tags.Contains(Tag) ? "checked" : "")>
                            <span class="checkmark">@Tag.Name</span>
                        </label>
                    }
                </label>
                <p>At least 1 tag is required!</p>
            </div>
            <div>
                <label class="edit-post-title">Title: <input type="text" name="Title" value="@Model.Item2.Title" required></label>
                <label class="edit-post-desc">Description:<br><textarea name="Description" rows="12" cols="40">@Model.Item2.Description</textarea></label>
                <label class="edit-post-amount">Amount accept: <input type="number" name="AmountAccept" value="@(Model.Item2.AmountAccept != 0 ? Model.Item2.AmountAccept : "")" required></label>
                <label>Accept type:</label>
                <label class="edit-post-type">
                    <label>
                        Close on full queue
                        <input type="radio" name="AcceptType" value="OnFull" @(Model.Item2.AcceptType == "OnFull" ? "Checked" : "") required>
                    </label>
                    <label>
                        On selection
                        <input type="radio" name="AcceptType" value="OnSelect" @(Model.Item2.AcceptType == "OnSelect" ? "Checked" : "") required>
                    </label>
                    <label>
                        Random
                        <input type="radio" name="AcceptType" value="OnRandom" @(Model.Item2.AcceptType == "OnRandom" ? "Checked" : "") required>
                    </label>
                </label>
                <label class="create-post-cdate">Close date: <input type="datetime-local" name="CloseDate" value="@(Model.Item2.CloseDate != null ? Model.Item2.CloseDate?.ToString("yyyy-MM-ddTHH:mm") : "")" required></label>
                <input type="number" name="Id" value="@Model.Item2.Id" hidden>
            </div>
        </form>
        <button type="submit" form="edit-post-form" class="confirm-edit-post" id="confirm-edit-post">Confirm</button>
        <button type="button" class="cancel-edit-post" id="cancel-edit-post">Cancel</button>
    </div>
</div>
<section>
    <section class="post-title" id="post-title">
        <b>Post by @((Model.Item2.Creator != null) ? Model.Item2.Creator.Username : "???")<b>
    </section>
    <section class="post-section">
        <section class="post-card">
            <h2>@Model.Item2.Title</h2>
            <section class="post-header">
                <img class="post-pfp" src="@((Model.Item2.Creator != null) ? Model.Item2.Creator.ProfilePicture : "")" alt="post-pfp">
                <div class="post-info">
                    <p>@((Model.Item2.Creator != null) ? Model.Item2.Creator.Username : "???")</p>
                    <p class="post-time">@Model.Item2.CreateDate</p>
                    <div class="post-enroll">
                        <p><span id="enroll-counter">@Model.Item2.EnrolledCount</span>/@Model.Item2.AmountAccept Joined</p>
                        <button type="button" class="post-signup" id="post-signup" @(Model.Item2.Status == PostStatus.Open && Model.Item3 == false && Model.Item4 == false ? "" : "hidden")>Join</button>
                        <button type="button" class="post-abandon" id="post-abandon" @(Model.Item2.Status == PostStatus.Open && Model.Item3 == true && Model.Item4 == false ? "" : "hidden")>Leave</button>
                        @if (Model.Item4 == true)
                        {
                            <button type="button" class="edit-post" id="edit-post" @(Model.Item2.Status != PostStatus.Concluded && Model.Item2.Status != PostStatus.Selected && Model.Item2.Status != PostStatus.Archived ? "" : "hidden")>Edit post</button>
                            <button type="button" class="edit-post" id="edit-post" onclick="window.location.href = '@Url.Action("GeneralAnnouncement","Announcement", new { postid = @Model.Item2.Id })'" @(Model.Item2.Status != PostStatus.Archived ? "" : "hidden")>Announcement</button>
                            <button type="button" class="edit-post" id="post-result" onclick="window.location.href = '@Url.Action("Result","Post", new { id = @Model.Item2.Id })'" @(Model.Item2.Status == PostStatus.Concluded ? "" : "hidden")>Post result</button>
                            <button type="button" class="edit-post" id="announce-result" onclick="window.location.href = '@Url.Action("PostResultAnnouncement","Announcement", new { postid = @Model.Item2.Id })'" @(Model.Item2.Status == PostStatus.Selected ? "" : "hidden")>Announce result</button>
                            <button type="button" class="post-abandon" id="edit-post" onclick="window.location.href = '@Url.Action("ConcludeEarly","Post", new { id = @Model.Item2.Id })'" @(Model.Item2.Status == PostStatus.Open ? "" : "hidden")>Conclude early</button>
                            @* <button type="button" class="post-abandon" id="cancel-post">Cancel post</button> *@
                        }
                    </div>
                </div>
            </section>
            <section class="post-tag">
                @foreach (Tag tag in Model.Item2.Tags)
                {
                    <button type="button" class="post-tag-btn">@tag.Name</button>
                }
            </section>
            <section class="post-details">
                <img class="post-image" src="@Model.Item2.Picture" alt="post-omage">
                <p>@Model.Item2.Description<p>
            </section>
        </section>
    </section>
</section>

@section Scripts {
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const post_id = urlParams.get('post');
        const post_signup_btn = document.getElementById("post-signup")
        const post_abandon_btn = document.getElementById("post-abandon")
        post_signup_btn.addEventListener("click",()=>{
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    let json = JSON.parse(xhttp.response);
                    if (json.enroll_successful == true) {
                        post_signup_btn.style.display = "none";
                        post_abandon_btn.style.display = "block";
                        const enroll_counter = document.getElementById("enroll-counter");
                        enroll_counter.innerText = json.enroll_count;
                        show_snackbar("Enrolled successfully","success");
                    }   
                    else {
                        window.location.href = "@Url.Action("Login", "Account")";
                    }
                }
            };
            xhttp.open("GET", "@Url.Action("Enroll","Post", new { PostId = @Model.Item2.Id })", true);
            xhttp.send();
        });

        post_abandon_btn.addEventListener("click",()=>{
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    let json = JSON.parse(xhttp.response);
                    if (json.unroll_successful == true) {
                        post_signup_btn.style.display = "block";
                        post_abandon_btn.style.display = "none";
                        const enroll_counter = document.getElementById("enroll-counter");
                        enroll_counter.innerText = json.enroll_count;
                        show_snackbar("Unrolled successfully","success");
                    }
                    else {
                        window.location.href = "@Url.Action("Login", "Account")";
                    }
                }
            };
            xhttp.open("GET", "@Url.Action("Unroll","Post", new { PostId = @Model.Item2.Id })", true);
            xhttp.send();
        });

        const edit_post_button = document.getElementById("edit-post");
        const cancel_edit_post_button = document.getElementById("cancel-edit-post");
        const confirm_edit_post_button = document.getElementById("confirm-edit-post");
        const popup = document.getElementById("modal");
        if (edit_post_button != null) {
            edit_post_button.addEventListener("click", () => {
                popup.style.display = "block";
            });
        }
        popup.addEventListener("click", (event) => {
            if (!event.target.closest(".modal-content")) {
                popup.style.display = "none";
            }
        });
        cancel_edit_post_button.addEventListener("click",()=>{
            popup.style.display = "none";
        })
        confirm_edit_post_button.addEventListener("click",()=>{
            
        })

        // Realtime Image Preview
        const image_input = document.getElementById('image-url');
        const image_preview = document.getElementById('edit-post-display');
        image_preview.style.height = '300px';

        function preview_image() {
            const image_url = image_input.value;
            if (image_url) {
                const img = document.createElement('img');
                img.src = image_url;
                img.alt = 'Image preview';
                img.onload = () => {
                    image_preview.innerHTML = '';
                    image_preview.appendChild(img);
                    image_preview.style.height = 'auto';
                };
                img.onerror = () => {
                };
            } else {
                image_preview.innerHTML = '';
                image_preview.style.height = '300px';
            }
        }

        image_input.addEventListener('input', preview_image); 
        preview_image(); 
    </script>
}
