@{
    ViewData["Title"] = "Result page";
    ViewData["Page"] = "Result";
}

@model (List<Enrollment>, bool, int, string, int)

@section Styles {
    <link rel="stylesheet" href="~/css/result.css" asp-append-version="true" />
}

<h1 class="header">"@Model.Item4"<br>Post enroll result</h1>
<form method="post" action="@Url.Action("Result","Post", new { id = @Model.Item3 })" id="result-form">
    <input name="id" value="@Model.Item3" hidden>
    @foreach (var enrollment in Model.Item1)
    {
        <label>
            @if (Model.Item2 == true)
            {
                <input type="checkbox" name="Selection" value="@enrollment.AccountId" class="account-checkbox" @(Model.Item2 == true ? "" : "checked") hidden>
            }
            else
            {
                <input type="checkbox" name="Selection" onclick="return false" value="@enrollment.AccountId" class="account-checkbox" @(Model.Item2 == true ? "" : "checked") hidden>
            }
            <div class="account-card">
                <img src="@(enrollment.Account!.ProfilePicture ?? "https://upload.wikimedia.org/wikipedia/en/a/a4/Hide_the_Pain_Harold_%28Andr%C3%A1s_Arat%C3%B3%29.jpg")" alt="profile-picture" class="profile-picture">
                <div class="profile-detail">
                    <h2>@enrollment.Account!.Username</h2>
                    <p>@enrollment.Account!.Bio</p>
                </div>
                <div class="check-info"></div>
            </div>
        </label>
    }
    <footer>
        <section class="selection-tracker" id="selection-tracker">Selected <span id="selection-counter"></span> out of @Model.Item5</section>
        <button type="submit" class="button">Confirm</button>
    </footer>
</form>

@section Scripts {
    <script>
        function update_counter() {
            var selected = document.querySelectorAll(".account-checkbox:checked").length;
            selection_counter.innerText = selected; 
            if (selected < @Model.Item5){
                selection_counter.style.color = "yellow";
            }
            else if (selected == @Model.Item5){
                selection_counter.style.color = "lightgreen";
            }
            else{
                selection_counter.style.color = "red";
            }
        }

        const selection_counter = document.getElementById("selection-counter");
        const result_form = document.getElementById("result-form");
        result_form.addEventListener("input", update_counter);
        update_counter();
    </script>
}